@model Book
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


@{
    ViewBag.Title = "Kitap Oluşturma";
}

<h2>Kitap Oluşturma</h2>

<form asp-action="Create" asp-area="Manage" asp-controller="Book" method="post" >
    <div class="form-group">
        <label for="Name">Kitap Adı:</label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="Description">Açıklama:</label>
        <textarea class="form-control" id="Description" name="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="ImgUrl">Resim URL:</label>
        <input type="text" class="form-control" id="ImgUrl" name="ImgUrl" />
    </div>
    <div class="form-group">
        <label for="Page">Sayfa Sayısı:</label>
        <input type="text" class="form-control" id="Page" name="Page" />
    </div>
    <div class="form-group">
        <label for="Price">Fiyat:</label>
        <input type="number" step="0.01" class="form-control" id="Price" name="Price" />
    </div>
    <div class="form-group">
        <label for="Length">Uzunluk (cm):</label>
        <input type="number" step="0.01" class="form-control" id="Length" name="Length" />
    </div>
    <div class="form-group">
        <label for="AuthorId">AuthorId:</label>
        <input type="number" step="0.01" class="form-control" id="AuthorId" name="AuthorId" />
        </div>
    <div class="form-group">
        <label for="Raiting">Raiting:</label>
        <input type="number" step="0.01" class="form-control" id="Raiting" name="Raiting" />
    </div>
        <button type="submit">Send</button>
</form>